/* Variáveis CSS para facilitar a manutenção e troca de cores */
:root {
  --vermelho: #EE2C3F;
  --amarelo: #F9CB40;
  --azul: #507DBC;
  --contraste-de-fundo: #0E111A;
  --fundo: #000000;
  --branco: #ffff;
}

/* Estilos para a seção de agendamento */
.agenda {
  border-radius: 22px;
  background-color: var(--contraste-de-fundo);
  max-width: 100%;
  padding: 2%;
  margin: 5% 2% 42% 2%;
}

/* Título da seção de agendamento */
.agenda h1 {
  color: var(--branco);
  font-weight: bold;
  margin-bottom: 20px;  
  text-align: center;
}

/* Estilização do container principal da agenda */
.container-agenda {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Estilos para o iframe do Google Maps */
.localizacao  {
  width: 100%;
  border: none;
  height: 225px;
  margin-bottom: 15px;
  border-radius: 15px;
}

.contact-agendamento{
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: start;
  margin-bottom: 10px;
  text-decoration: none;
}
.contact-agendamento p{
  padding-left: 2%;
}

/* Estilos do botão de agendamento */
.btn-container .btn-info{
  padding: .5rem 2rem;
}

/* Responsividade para telas menores */
@media (max-width: 992px) {
  #agenda {
    margin: 40% 2% 4% 2%;
  
  }
  
  .container-agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-agendamento{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map-container {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }

  .btn-container {
    margin-top: 20px;
  }
}
