:root {
    --vermelho: #EE2C3F;
    --amarelo: #F9CB40;
    --azul: #507DBC;
    --contraste-de-fundo: #0E111A;
    --fundo: #000000;
    --branco: #ffff;
  }
  
  #agenda {
    background-color: var(--fundo);
    color: var(--branco);
  }
  
  .teste {
    display: flex;
    justify-content: space-between;
    padding: 4%;
  }
  
  .left, .right {
    width: 48%;
    background-color: var(--contraste-de-fundo);
    border-radius: 22px;
    padding: 4%;
  }
  
  .left h1, .right h1 {
    color: var(--azul);
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type='text'], input[type='date'], input[type='time'] {
    width: 100%;
    padding: 10px;
    border-radius: 22px;
    border: 1px solid var(--azul);
    background-color: var(--fundo);
    color: var(--branco);
  }
  
  button {
    background-color: var(--azul);
    color: var(--branco);
    border: none;
    border-radius: 22px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--vermelho);
  }
  
  .services label {
    display: block;
  }
  
  .confirmation-message {
    text-align: center;
  }
  
  @media (max-width: 992px) {
    .container {
      flex-direction: column;
    }
  
    .left, .right {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  