:root {
    --vermelho: #EE2C3F;
    --amarelo: #F9CB40;
    --azul: #507DBC;
    --contraste-de-fundo: #0E111A;
    --fundo: #000000;
    --branco: #ffff;
  }
  
  .feedBack {
    margin-top: 5rem;
  }
  
  .title::after {
    content: "Projetos ";
  }
  
  .carousel .card {
    background: transparent;
    border-radius: 6px;
    padding: 20px 35px;
    text-align: center;
    transition: all 0.3s ease;
    border: 1px solid var(--vermelho); 
    max-width: 18rem;
    margin: 0 auto;
  }
  
  .carousel .card:hover {
    background: var(--vermelho);
    color: var(--branco);
  }
  
  .carousel .card .img-cards {
    width: 10rem;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--vermelho);
    /* filter: blur(1px); */
    transition: all 0.3s ease;
  }
  
  .carousel .card:hover img {
    border-color: var(--branco);
  }
  
  .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: var(--branco);
  }
  
  .carousel .card:hover .box {
    transform: scale(1.05);
  }
  
  .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
  }
  
  .slick-dots {
    text-align: center;
    margin-top: 20px;
  }
  
  .slick-dot {
    width: 24px;
    height: 24px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid var(--vermelho) !important;
    transition: all 0.3s ease;
  }
  
  .slick-dot.slick-active {
    width: 35px;
    border-radius: 15px;
  }
  
  .slick-dot.slick-active,
  .slick-dot:hover {
    background: var(--vermelho) !important;
  }
  