.fixed-button {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--azul);
  border: 2px solid var(--branco);
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

span {
  display: none;
  margin-left: 8px; 
  transition: transform 0.8s ease;
}

.fixed-button:hover span {
  display: inline-block;
  animation: slideInRight 0.8s forwards;
}

.fixed-button:not(:hover) span {
  animation: slideOutRight 0.8s forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .fixed-button {
    font-size: 12px;
    padding: 6px 10px;
  }
}
