.fixed-button {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--azul);
    border: 2px solid var(--branco);
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 1000;
    transition: .5s;
  }
  
  .fixed-button:hover {
    background-color: var(--azul);
    right: 5px;
    color: white;
  }
  