:root {
    --contraste-de-fundo: #0E111A;
    --azul: #507DBC;
    --branco: #ffffff;
  }
  
  .footer {
    background-color: var(--contraste-de-fundo);
    color: var(--branco);
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid var(--azul);
    font-size: 0.9rem;
    position: relative;
    
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid var(--azul);
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
  }
  
  .footer a:hover {
    color: var(--azul);
    border-bottom-color: var(--branco);
  }
  @media (max-width: 992px) {
    .footer {
        margin-top: 30%; 
    }
  }