#home{
    margin-top: 82px;
    max-width: 100%;
}
.capa{
    padding: 4%;
}
.gatilho{
    margin: 10% 5%;
}
.gatilho h2 , 
.gatilho #botao{
    font-weight: bold;
    padding-bottom: 10%;
    font-size: 120%;
    text-align: center;
}
.gatilho #botao{
    font-size: 120%;
    padding: 2% 10%;
    margin-top: 10px;
    border-radius: 22px;
}


    @media (max-width: 992px) {
        .container-capa{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #home{
            margin: 25% 0;
        }
    
    }
