/* Estilos para a seção Home */
#home {
    margin-top: 108px;
    max-width: 100%;
}

.img-card {
    border-radius: 12px;
    max-height: 46vh;
    position: relative;
    z-index: 1; /* Certifique-se de que a imagem esteja abaixo da div aurelia */
}

.aurelia {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border: 4px solid #507dbc9f ;
    border-radius: 12px; /* Match the border radius of the image */
    z-index: 2; /* Certifique-se de que a aurelia esteja sobreposta à imagem */
    pointer-events: none; /* Para garantir que a aurelia não interfira em interações com a imagem */
}
@media (min-width: 992px) {
    .img-card {
        max-height: 75vh;
    }
}