.profile-ring {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
  }
  .circulo-storys {
    position: absolute;
    top: -2.5%;
    left: -2.5%;
    width: 105%;
    height: 105%;
    animation: spin 5s linear infinite;
    z-index: 1;
  }
  .descricao span{
    padding: 0 20px;
  }
  .img-post{
    height: 100% !important;
    border-radius: 12px;
  }
  .profile-image {
    position: relative;
    z-index: 2;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }