.instagram {
  max-width: 100%;
}

/* Estilo para o círculo de stories */
.profile-ring {
  position: relative;
  display: inline-block;
  width: 15%;
  height: auto;
}

/* Animação para o círculo de stories girando */
.circulo-storys {
  position: absolute;
  top: -6px; /* Ajusta o círculo para ficar 3px acima */
  left: -6px; /* Ajusta o círculo para ficar 3px à esquerda */
  width: calc(100% + 12px); /* Aumenta o diâmetro do círculo em 6px */
  height: calc(100% + 12px); /* Aumenta a altura do círculo em 6px */
  animation: spin 4s linear infinite;
  z-index: 1;
}

/* Imagem de perfil */
.profile-image {
  width: 100%;
  position: relative;
  z-index: 2;
  border-radius: 50%;
}

/* Descrição do perfil */
.descricao {
  flex: 1;
  width: 10%;
}
.descricao h2{
  font-size: 150%;
}

/* Estilo para texto da descrição */
.descricao-text {
  display: block;
  font-size: 80%;
  width: 100%;
  margin: 0 10px;
}

/* Estilo para imagens dos posts */
.img-post {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
  border-radius: 12px;
}

/* Animação de rotação */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos responsivos para dispositivos menores */
@media (max-width: 555px) {
  .perfil {
    justify-content: center; 
  }
  .descricao {
    margin-top: 5%;
    margin-left: 0 !important;
  }
  .descricao h2 {
    margin: 0 0 .5rem 0;
  }
  /* Estilo para o círculo de stories */
.profile-ring {
  position: relative;
  display: inline-block;
  width: 22%;
  height: auto;
}

/* Animação para o círculo de stories girando */
.circulo-storys {
  position: absolute;
  top: -6px; /* Ajusta o círculo para ficar 3px acima */
  left: -6px; /* Ajusta o círculo para ficar 3px à esquerda */
  width: calc(100% + 12px); /* Aumenta o diâmetro do círculo em 6px */
  height: calc(100% + 12px); /* Aumenta a altura do círculo em 6px */
  animation: spin 4s linear infinite;
  z-index: 1;
}
}
