:root {
  --vermelho: #EE2C3F;
  --amarelo: #F9CB40;
  --azul: #507DBC;
  --contraste-de-fundo: #0E111A;
  --fundo: #000000;
  --branco: #ffff;
}

/* Container para a barra de navegação */
.navbar_container {
  display: block;
}
/* Remoção do Scroll do Eixo-x */
body {
  overflow-x: hidden; 
  scroll-behavior: smooth; 
}

/* Estilos da barra de navegação */
.navbar {
  max-width: 100%;
  margin: 0 0.5%;

  background-color: var(--contraste-de-fundo) !important;
  padding: 0 4%;
  border-radius: 12px;
  display: block;
}
.container-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.barra{
  width: 60%;
  border: 2px solid var(--branco);
  opacity: 1;
  border-radius: 5px;
  margin: 0;
}
.navbar-select{
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-top: 1%;
  justify-content: center;
}
/* Estilos para o título e Links */
.navbar h1,
.nav-Link,
.nav-item {
  color: var(--branco) !important;
  cursor: pointer;
  font-size: 100%;
  text-decoration: none;
}
.nav-Link{
  padding-bottom: 2px;
}

/* Imagem do logo da marca */
.navbar-brand .img {
  border-radius: 100%;
}

/* Estilo para o título da marca */
.navbar-brand h1 {
  font-weight: bold;
  font-size: 100%;
  margin: auto 2%;
}

.nav-item {
  max-width: 100%;
  height: auto;
  margin: 0 2%;
}

.active-nav {
  font-weight: bold;
  border-bottom: 4px solid var(--branco);
}