:root {
  --vermelho: #EE2C3F;
  --amarelo: #F9CB40;
  --azul: #507DBC;
  --contraste-de-fundo: #0E111A;
  --fundo: #000000;
  --branco: #ffff;
  
}

.navbar_container{
  display: block;
  
}

.navbar {
  max-width: 100%;
  margin: 0 1%;
  background-color: var(--contraste-de-fundo) !important;
  padding: 0 4%;
  border-radius: 12px;
  display: block;
}

.navbar h1,
.navbar .nav-link {
  color: var(--branco) !important;
  cursor: pointer;
}

.navbar-brand .img {
  border-radius: 100%;
}
.navbar-brand h1{
  font-weight: bold;
  font-size: 100%;
  margin: auto 2%;
  color: var(--azul) !important;
}
.navbar-brand nav-link{
  font-size: 36px;
}


.container-fluid {
  justify-content: space-between;
}

.navbar-collapse {
  flex-direction: column;
  align-items: center;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.nav-item {
  width: 100%;
}

.nav-link {
  padding: 10px 0;
}


@media (min-width: 992px) {
  .navbar-collapse {
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .navbar-nav {
    width: auto;
    text-align: left;
    padding-right: .5rem;
  }
  
  .nav-item {
    width: auto;
  }
  .active{
  font-weight: bold;
  border-bottom:2px solid #fff;
}
}

@media (max-width: 992px) {
  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20vw;
    border-radius: 15px;
    margin: 8% 5%;
    border: 1.5px solid var(--vermelho);
    transition: padding 0.8s;
  }
  .navbar-brand h1{
    font-weight: bold;
    font-size: 100%;
  }
  
  .show {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    } 
  }
  