:root {
  --vermelho: #EE2C3F;
  --amarelo: #F9CB40;
  --azul: #507DBC;
  --contraste-de-fundo: #0E111A;
  --fundo: #000000;
  --branco: #ffff;
}

/* Estilo da seção 'Sobre' */
#sobre {
  border-radius: 22px;
  background-color: var(--contraste-de-fundo);
  margin: 5% 2%;
  max-width: 100%;
}

/* Estilo do título */
#sobre h1 {
  color: var(--branco);
  font-weight: bold;
  margin-bottom: 20px;  
  text-align: center;
}

/* Estilo do texto principal e ícones */
.text-sobre article {
  width: 100%;
  height: 6.5rem;
  border: 2px solid var(--azul);
  border-radius: 6px;
  margin: 2% 10%;
  text-align: center;
  font-size: 1rem;
  padding: 2%;
}

.bi {
  font-size: 1.5rem;
  color: var(--azul);
  margin-bottom: 2%;
}

.instagram-sobre {
  width: 40%;
  margin-top: 20px;
  text-decoration: none;
}

/* Estilos responsivos para telas menores */
@media (max-width: 992px) {
  #sobre {
    margin: 40% 2%;
  }
  .container-sobre {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }

  .text-sobre {
    margin-bottom: 20px;
  }

  .instagram-sobre {
    width: 100% !important;
  }
}

@media (max-width: 576px) {
  .text-sobre article {
    padding: 1rem;
    font-size: 0.875rem;
  }

  .bi {
    font-size: 1.5rem;
  }
}
