/* Estilo da seção 'Sobre' */
#sobre {
  border-radius: 22px;
  background-color: var(--contraste-de-fundo); /* Fundo com bom contraste para acessibilidade */
  margin: 5% 2%;
  max-width: 100%;
}

/* Estilo do título da seção */
#sobre h1 {
  color: var(--branco);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilo dos artigos de informação */
.text-sobre article {
  width: 100%;
  height: 6.5rem;
  border: 2px solid var(--azul); /* Destaque com borda azul */
  border-radius: 6px;
  margin: 2% 10%;
  text-align: center;
  font-size: 1rem;
  padding: 2%;
}

/* Estilo dos ícones */
.bi {
  font-size: 1.5rem;
  color: var(--azul); /* Cor consistente com o tema */
  margin-bottom: 2%;
}

/* Link para o Instagram */
.instagram-sobre {
  width: 40%;
  margin-top: 20px;
  text-decoration: none;
}

/* Responsividade para telas menores */
@media (max-width: 992px) {
  #sobre {
    margin: 40% 2%;
  }
  .container-sobre {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }

  .text-sobre {
    margin-bottom: 20px;
  }

  .instagram-sobre {
    width: 100% !important;
  }
}

@media (max-width: 576px) {
  .text-sobre article {
    padding: 1rem;
    font-size: 0.875rem; /* Tamanho de fonte ajustado para dispositivos menores */
  }

  .bi {
    font-size: 1.5rem;
  }
}
