:root {
  --vermelho: #EE2C3F;
  --amarelo: #F9CB40;
  --azul: #507DBC;
  --contraste-de-fundo: #0E111A;
  --fundo: #000000;
  --branco: #ffff;
  
}

#sobre {
  position: relative; 
  border-radius: 22px;
  background-color: var(--contraste-de-fundo);
  padding: 4%;
  margin:6% 1%;
  max-width: 100%;
}

#sobre h1 {
  position: absolute;
  top: -20px; left: 50%;
  transform: translateX(-50%);
  color: var(--azul);
  font-weight: bold;
  margin-bottom: 0;  
}

.text-sobre h3{
  text-align: center;
  font-size: 100%;
  padding: 10%;
}
.text-sobre a{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px 20%;
  margin-top: 10px;
  border-radius: 22px;
}
@media (max-width: 992px) {
  #sobre{
    margin: 50% 2%;
  }
  .text-sobre h3{
     font-size: 100%;
  }
  .container-sobre{
    flex-direction: column-reverse !important;
    align-items: center;
  }
  .text-sobre a{
    margin-top: 40px;
  }
}
