:root {
  --vermelho: #EE2C3F;
  --amarelo: #F9CB40;
  --azul: #507DBC;
  --contraste-de-fundo: #171721;
  --fundo: #0E111A;
  --branco: #ffff;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anonymous Pro", monospace;
  color: var(--branco);
}
html,body,#root{
  background-color: #0E111A;
  height: 100%;
}
  
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--fundo);
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--vermelho);
  border-radius: 5px;
  border: solid 1px var(--contraste-de-fundo);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--vermelho);
}

.btn-danger{
  background-color: var(--vermelho);
  padding: 0 6%;
    margin-top: 10px;
    border-radius: 22px;
}
.animate-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

.animate-visible {
  opacity: 1;
  transform: translateY(0);
}
.animate-on-scroll {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.zoomIn {
  opacity: 1;
  transform: scale(1);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.animate-visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.animate-hidden {
  opacity: 0;
}
